# The Groupby() method

In [6]:
import pandas as pd

In [8]:
fortune = pd.read_csv ("fortune1000.csv",index_col ="Rank")
sectors = fortune.groupby("Sector")
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [13]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

# Retrive A group with the .get_group() Method

In [16]:
fortune = pd.read_csv ("fortune1000.csv",index_col ="Rank")
sectors = fortune.groupby("Sector")
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

# Methods on the Groupby Object and dataFrame Columns

In [17]:
fortune = pd.read_csv ("fortune1000.csv",index_col ="Rank")
sectors = fortune.groupby("Sector")
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [19]:
sectors.get_group("Apparel")["Profits"].sum()

8236

In [20]:
sectors.max()
sectors.min()
sectors.sum()
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [22]:
sectors["Revenue"].sum().head(3)

Sector
Aerospace & Defense    357940
Apparel                 95968
Business Services      272195
Name: Revenue, dtype: int64

In [24]:
sectors["Employees"].sum().head(3)

Sector
Aerospace & Defense     968057
Apparel                 346397
Business Services      1361050
Name: Employees, dtype: int64

In [26]:
sectors["Profits"].max().head(3)

Sector
Aerospace & Defense    7608
Apparel                3273
Business Services      6328
Name: Profits, dtype: int64

In [27]:
sectors["Profits"].min().head(3)

Sector
Aerospace & Defense    -240
Apparel                  82
Business Services     -1481
Name: Profits, dtype: int64

In [28]:
sectors["Employees"].mean().head(3)

Sector
Aerospace & Defense    48402.850000
Apparel                23093.133333
Business Services      26687.254902
Name: Employees, dtype: float64

In [31]:
sectors[["Revenue","Profits"]].sum().head(3)

                     Revenue  Profits
Sector
Aerospace & Defense   357940    28742
Apparel                95968     8236
Business Services     272195    28227