In [14]:
import pandas as pd

this is first program

In [5]:
"vikram"

'vikram'

In [6]:
type(-10.0)

float

In [10]:
A =(27+1)*3/10

In [11]:
A

8.4

In [12]:
AZMAT ="vikram"

In [13]:
AZMAT

'vikram'

In [14]:
age=22

In [15]:
age

22

In [16]:
antman =32+age

In [17]:
antman

54

In [18]:
3**3

27

In [22]:
vikram = [1,2,3,4,5,6,7,8,9,0,]

In [23]:
type(vikram)

list

In [24]:
def tiger(c):
    product = c * 3.5
    final = product + 3
    return final

In [25]:
tiger (-20)

-67.0

In [37]:
import pandas as pd
import pandas as Series

In [38]:
AZMAT ="vikram"

In [40]:
pd.Series("AZMAT")

0    AZMAT
dtype: object

In [41]:
ram =[1,2,3,4]

In [42]:
pd.Series(ram)

0    1
1    2
2    3
3    4
dtype: int64

In [43]:
dog =[True,False,True,False]

In [44]:
pd.Series(dog)

0     True
1    False
2     True
3    False
dtype: bool

In [11]:
import pandas as pd

In [12]:
webser = {
    "dog": 1,
    "cat": 2,
    "sparrow": 2,
}

In [13]:

pd.Series(webser)

dog        1
cat        2
sparrow    2
dtype: int64

In [ ]:
about_me = ["smart","handsom","princess","cute"]

In [15]:
s =pd.Series(about_me)