In [3]:
import pandas as pd

In [4]:
vikram = [1,2,3,4]

In [5]:
pd.Series(vikram)

0    1
1    2
2    3
3    4
dtype: int64

In [71]:
print("hello world")

hello world

In [36]:
ram = (1,2,3,4)
pd.Series(ram)

0    1
1    2
2    3
3    4
dtype: int64

In [37]:
dog =[True,False,True,False]
pd.Series(dog)

0     True
1    False
2     True
3    False
dtype: bool

In [38]:
webser = {"dog": 1,"cat": 2,"sparrow":3,}
pd.Series(webser)

dog        1
cat        2
sparrow    3
dtype: int64

In [40]:
8 >= -10

True

In [54]:
1==2

False

In [42]:
8<=10

True

In [55]:
3!=10

True

In [56]:
3<10

True

In [57]:
8>=-10

True

In [58]:
5//3

1

In [59]:
2**3

8

In [60]:
10/2

5.0

In [61]:
1+3

4

In [62]:
1-3

-2

In [68]:
rampur={"deepak":90.0,"kundan":25.0,"raja":50.0,}
print(rampur)
rampur["deepak"]

{'deepak': 90.0, 'kundan': 25.0, 'raja': 50.0}

90.0

In [72]:
25+50

75

In [77]:
about_me = ["smart","handsome","charming","brilliant"]
pd.Series(about_me)

0        smart
1     handsome
2     charming
3    brilliant
dtype: object

In [86]:
about_me = ["smart","handsome","charming","brilliant"]
s = pd.Series(about_me)---++